@model ListofItemsVM

@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Item Tables</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Items/CreateItems">Create Item(s)</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Items Table for Supermarkets</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                @*<th>S/N</th>*@
                                <th>Item Detail</th>
                                @*<th>Price (NGN)</th>
                                <th>Add</th>
                                <th>Update</th>*@
                            </tr>
                        </thead>
                        <tbody>

                            @for (int i = 1; i <= Model.Items.Count; i++)
                            {
                            <tr>
                                @*<td scope="row">@i</td>
                                <td>@Model.Items[i - 1].Name</td>
                                <td>@Model.Items[i - 1].Price</td>
                                <td>
                                    <a href="/Items/AddPrices/@Model.Items[i - 1].Id" class="btn btn-info">Add Price(s)</a>
                                </td>
                                <td>
                                    <a href="/Items/UpdatePrices/@Model.Items[i - 1].Id" class="btn btn-info">Update Price(s)</a>
                                </td>*@

                                <td>
                                    <!-- /.col -->
                                    <div class="col-md-12">
                                        <div class="card card-success">
                                            <div class="card-header">
                                                <h3 class="card-title">@Model.Items[i - 1].Name.ToUpper()</h3>
                                                <!-- /.card-tools -->
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <img class="card-img-top" src="@Model.Items[i - 1].Base64String" alt="@Model.Items[i - 1].Name"
                                                     style="width:200px;height:200px; " />
                                                <a href="/Items/AddPrices/@Model.Items[i - 1].Id" class="btn btn-primary">Create Price(s)</a>
                                                <a href="/Items/UpdatePrices/@Model.Items[i - 1].Id" class="btn btn-primary">Update Price(s)</a>
                                                <a href="/Items/DeleteItem/@Model.Items[i - 1].Id" class="btn btn-primary">Delete Item</a>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                    <!-- /.col -->
                                </td>


                            </tr>
                            }
                        </tbody>
                        @*<tfoot>
                            <tr>
                                <th>S/N</th>
                                <th>Item Name</th>
                                <th>Price (NGN)</th>
                            </tr>
                        </tfoot>*@
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
