@model AddToCartVM

@{
    Layout = "~/Views/Shared/_Shop4ULayout1.cshtml";
}


}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h2>Total Amount: @Model.TotalAmount</h2>

                    <a href="/Supermarkets/MakePayment" class="btn btn-info">Make Payment</a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">List of Orders</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Item Name</th>
                                <th>Price (NGN)</th>
                                <th>Market Name</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>

                            @for (int i = 1; i <= Model.Supermarketcarts.Count; i++)
                            {
                                <tr>
                                    <td scope="row">@i</td>
                                    <td>@Model.Supermarketcarts[i - 1].ItemName</td>
                                    <td>@Model.Supermarketcarts[i - 1].CostPrice</td>
                                    <td>@Model.Supermarketcarts[i - 1].MarketName</td>
                                    <td>


                                        <a href="/Supermarkets/DeleteOrder/@Model.Supermarketcarts[i - 1].Id"
                                           class="btn btn-info">Delete Order</a>
                                    </td>

                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>